:root {
    --green: #639276;
    --green-light: #DFF1E6;
    --bg: #E9F3ED;
    --hv-btn: #ef5350;
    --silver: #cacaca;
    --white: #fff;
    --black: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--bg);
    color: var(--black);
    font-family: "Ubuntu", sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    background: var(--white);
    padding: 40px;
    border-radius: 20px;
    width: 600px;
}

.form a:hover {
    font-weight: bold;
    /* Cor mais escura para o efeito hover */
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    margin-top: 15px;
    margin-bottom: 15px;
}

.form form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form label {
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
}

.form input {
    align-items: center;
    height: 32px;
    margin: 4px 0 4px 0;
    padding-left: 6px;
    border: 1px solid var(--silver);
    border-radius: 4px;
}

input[type="file"] {
    align-content: center;
}

.form input:focus {
    background: #f0f0f5;
}

.form button {
    background: var(--green);
    font-size: 14px;
    height: 32px;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background 0.3s;
}

.form button:hover {
    background: var(--green-light);
    color: var(--green);
    font-weight: bold;
}

.cdt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cdt button {
    width: 200px;
}

.cdr a {
    color: var(--white);
}

.separator {
    background: #bbb;
    height: 2px;
    border-radius: 1px;
}

.list-tasks {
    margin-top: 12px;
    margin-bottom: 12px;
}

.list-tasks ul {
    list-style: none;
}

.list-tasks ul li {
    background: var(--green-light);
    height: 54px;
    border: none;
    border-radius: 4px;
    color: var(--green);
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transition: background 0.3s;
}

.btn-edit {
    margin-right: 10px;
}

.list-tasks ul li:hover {
    background-color: var(--bg);
    font-weight: 500;
}

.bnt-clear {
    background: var(--green);
    padding: 12px;
    height: 32px;
    border: none;
    border-radius: 4px;
    padding: 0 12px;
    color: var(--white);
    font-size: 14px;
    transition: background 0.3s;
}

.bnt-clear:hover {
    background: var(--hv-btn);
    font-weight: 600;
}

.footer {
    text-align: center;
    border-radius: 4px;
    padding: 12px;
}

.footer p {
    color: #999;
    font-size: 12px;
}

.details-container {
    background: var(--white);
    max-width: 700px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.details {
    width: 300px;
    border: 1px solid #f0f0f5;
    border-radius: 4px;
    margin-right: 8px;
    padding: 16px;
}

.details dl dt {
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: bold;
    color: #666;
}

.details dl dd {
    margin-top: 4px;
    margin-bottom: 12px;
    color: #999;
}

.image {
    width: 400px;
    border: 1px solid #f0f0f5;
    border-radius: 4px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 16px;
}

.image img {
    max-width: 100%;
    height: auto;
}

.alert-sucess {
    background: #C5e1a5;
    margin: 4px;
    padding: 12px;
    color: #7CB342;
}

.alert-error {
    background: #FFAB91;
    margin: 4px;
    padding: 12px;
    color: #F4511E;
}
